.btn {
    border: 1.5px solid white;
    background-color: white;
    border-radius: 2vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* box-shadow: 0.05vh 0.05vh 3vh 0.3vh #420801; */
    border: 1px solid;
    cursor: pointer;
} 