.landing {
    margin: 0%;
    background: radial-gradient(#e66465, #66123f);
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.title {
    font-family: 'Rancho', cursive;
    font-size: 30vh;
    margin-bottom: 2.5vh;
}