.riddleCard {
    position: relative;
    width: 28%;
    height: 80%;
    padding: 0%;
    perspective: 500px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

p {
    font-family: 'Rancho', cursive;
}


.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.riddleCard:hover .inner {
    transform: rotateY( 180deg );  
}

.riddleCard:hover {
    transform: rotateY( 180deg );  
}

.back {
    transform: rotateY( 180deg );
}
