.riddle {
    margin: 0vh;
    padding: 0vh;
    width: 100%;
    height: 75%;
    font-family: 'Rancho', cursive;
    text-align: left;
}

.openRiddleContent {
    font-size: 2.6vh;
    margin-top: 0vh;
}

.levelRiddleContent {
    font-size: 2.3vh;
    margin-top: 0vh;
}

.searchRiddleContent {
    font-size: 2.8vh;
}