.ruler {
    width: 75%;
    color: #595757;
    margin-bottom: 5vh;
    margin-top: 0vh;
}

.title {
    font-family: 'Rancho', cursive;
    text-align: center;
    letter-spacing: 0.3vh;
    margin-bottom: 1vh;
    font-size: 3.3vh;
}