html, body {
    margin: 0%;
    height: 100%;
    width: 100%;
}

.level {
    display: flex;
    background-color: #8f0a00;
    padding-bottom: 0%;
}

.sideBar {
    padding-left: 0%;
}

.openLevel {
    background-color: #8f0a00;
}