html, body {
    margin: 0%;
    height: 100%;
    width: 100%;
}

.gameLevel {
    display: flex;
    background: #66123f;
    position: absolute;
    margin-right: -4vh;
    height: 100%;
    width: 100%;
}

.sideBar {
    width: 20%;
    margin-top: 2vh;
    padding-left: 10vh;
}

.riddleCardList {
    width: 70%;
    margin-left: 2vh;
    margin-top: 1.5vh;
}